# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [70]:
# Import your libraries:
import pandas as pd
from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.metrics import r2_score

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [14]:
# Your code here:
diabetes=load_diabetes()
#df=pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
#df['Price']=diabetes.target
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': '/home/ivan/snap/jupyter/common/lib/python3.7/site-packages/sklearn/datasets/data/diabetes_data.csv.gz',
 'target_filename': '/home/ivan/snap/jupyter/common/lib/python3.7/site-packages/sklearn/datasets/data/diabetes_target.csv.gz'}

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [8]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [10]:
# Your code here:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [28]:
# Enter your answer here:
#1.- Tiene 6 atributos: 'data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'

#2.- No sé cuál es la relación

diabetes.data.size
#3.- Son 4420 registros en data

4420

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [36]:
# Your code here:
print("data: ", diabetes['data'].shape)
print("target: ", diabetes['target'].shape)

data:  (442, 10)
target:  (442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [20]:
# Your code here:
from sklearn.linear_model import LinearRegression

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [42]:
# Your code here:
diabetes_model=LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [48]:
# Your code here:
diabetes_data_train = diabetes['data'][:-20]
diabetes_data_test = diabetes['data'][-20:]

diabetes_target_train = diabetes['target'][:-20]
diabetes_target_test = diabetes['target'][-20:]

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [54]:
# Your code here:
dmf=diabetes_model.fit(diabetes_data_train, diabetes_target_train)
dmf

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [52]:
diabetes_target_test

array([233.,  91., 111., 152., 120.,  67., 310.,  94., 183.,  66., 173.,
        72.,  49.,  64.,  48., 178., 104., 132., 220.,  57.])

In [79]:
# Your code here:
pred=dmf.predict(diabetes_data_test)
pred

array([197.61846908, 155.43979328, 172.88665147, 111.53537279,
       164.80054784, 131.06954875, 259.12237761, 100.47935157,
       117.0601052 , 124.30503555, 218.36632793,  61.19831284,
       132.25046751, 120.3332925 ,  52.54458691, 194.03798088,
       102.57139702, 123.56604987, 211.0346317 ,  52.60335674])

#### Print your `diabetes_target_test` and compare with the prediction.

In [81]:
# Your code here:
h = pd.DataFrame([diabetes_target_test, pred]).T
h

        0           1
0   233.0  197.618469
1    91.0  155.439793
2   111.0  172.886651
3   152.0  111.535373
4   120.0  164.800548
5    67.0  131.069549
6   310.0  259.122378
7    94.0  100.479352
8   183.0  117.060105
9    66.0  124.305036
10  173.0  218.366328
11   72.0   61.198313
12   49.0  132.250468
13   64.0  120.333292
14   48.0   52.544587
15  178.0  194.037981
16  104.0  102.571397
17  132.0  123.566050
18  220.0  211.034632
19   57.0   52.603357

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [88]:
# Your explanation here:
#no son exactamente los mismos, existe una diferencia considerable
r2_score(diabetes_target_test, pred)

0.5850753022690575

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [ ]:
# Your code here:

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [31]:
# Your code here:
auto=pd.read_csv("../auto-mpg.csv")

Look at the first 5 rows using the `head()` function:

In [32]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [33]:
# Your code here:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horse_power     392 non-null float64
weight          398 non-null int64
acceleration    398 non-null float64
model_year      398 non-null int64
car_name        398 non-null object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [34]:
# Your code here:
print("modelo máximo: ", auto.model_year.max())
print("modelo mínimo: ", auto.model_year.min())

modelo máximo:  82
modelo mínimo:  70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [36]:
# Your code here:
auto.isna().sum()
auto.dropna(axis=0)
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [37]:
# Your code here:
auto.cylinders.value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [57]:
# Your code here:
#auto.drop('car_name', axis=1)
auto=auto.dropna()
X=auto.drop(['mpg', 'car_name'], axis=1)
y=auto.mpg
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2)
X.isnull().sum()

cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
dtype: int64

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [62]:
# Your code here:
auto_model=LinearRegression()
auto_model.fit(X_train, y_train)
auto_model.coef_

array([-0.41950908,  0.00830429,  0.00436252, -0.00682207,  0.09029416,
        0.71000526])

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [89]:
# Your code here:
from sklearn.metrics import r2_score
y_pred=auto_model.predict(X_train)
y_pred

array([26.03235226, 26.0478014 , 16.2911895 , 25.34584132, 30.8926095 ,
       33.54087611, 15.81792085, 33.52094415, 27.07378062, 32.29173545,
        5.1902867 , 17.78456803, 14.07485615, 20.33166918, 12.92180925,
       15.84017936, 26.08610067, 10.80061411, 21.16485982, 28.20964145,
       23.33711095, 11.46171168, 24.97676301, 32.37619035, 32.20002857,
       25.85295531, 27.2523254 , 28.31525724, 24.31332191, 23.32703525,
       24.32835735, 27.59755841, 20.87661582, 21.75792827, 29.75600988,
       20.34549898, 27.07060693, 29.93391209, 29.74224557, 20.14136916,
        9.93399152, 22.65472988, 26.0038962 , 29.16510531, 11.50036989,
       28.78685398, 14.8549965 , 32.34899092, 23.2971063 , 27.078167  ,
       25.36185724, 20.97750171, 18.40586069, 21.47230809, 20.9901271 ,
        8.66062817, 34.62505047, 26.39110076, 10.95442458, 26.48253523,
       19.24615998, 13.9173921 , 25.89609965, 25.15751087, 11.7045195 ,
       33.9003191 , 28.57484202, 21.81100216, 26.83546614, 31.8630766 ,
       28.46610131, 24.39800875, 19.98443076, 32.00138548, 12.10702854,
       33.61298196, 27.89372158, 11.93222975, 33.7913351 , 33.88054492,
       22.95981487, 18.99288322, 22.43114603, 27.33053914,  8.42901517,
       26.27736727, 28.26409642, 23.86824113, 20.61296272, 20.24248686,
        9.16997714, 16.29079496, 29.13792824, 11.21943332, 21.33854939,
       28.85156218, 30.17970636, 17.07924894, 27.77058103, 32.4960921 ,
       18.2359782 , 35.01011332, 34.00433514, 32.30556448, 31.53212273,
       34.88957948, 26.19109167, 19.83783804, 21.69468917, 30.57176857,
       33.01326911, 12.57830328, 24.51744822, 25.45889408, 30.00817418,
       17.95549677, 30.30314054, 31.70664464, 19.48899853, 30.13026599,
       31.16482088, 12.05215589, 28.81132774, 16.09450641, 10.74207027,
       31.20039289, 21.98365247, 18.88149522,  6.29865833, 32.56917268,
       31.15396682, 26.16300087, 26.7357968 , 18.44975562, 29.60276232,
       11.89475697, 32.13207006, 25.17459987, 16.64880459, 30.86935835,
       30.94708368, 29.47724511, 28.20111747, 35.4045916 , 25.71368285,
       14.51688468, 30.97583259, 30.10219685, 24.17754471, 17.67726523,
       17.71789767, 20.94881917, 28.90392841, 25.4489285 , 16.74928308,
       25.42558679, 23.44515601, 35.52654665, 32.49032046, 13.13356258,
       20.3432671 , 30.69239922, 23.08933997, 10.54313126, 15.3592407 ,
       30.12974882, 31.5308908 , 17.35151556, 30.80794721, 32.22859294,
       30.35276532, 27.16288244, 19.9223884 , 23.47802862, 24.4439461 ,
        7.25754923, 27.59168587, 25.45011573, 34.38936646, 15.7645944 ,
       29.02717746, 30.66156189, 16.77784108, 23.95936166, 15.26372763,
       34.7370977 , 31.70264965, 31.05593056, 30.52022292, 27.58297998,
       20.60283779,  9.45563277, 12.49252545, 28.97929034, 17.60722636,
       21.08519122, 22.98851462, 17.38540959, 28.73984788, 21.93878391,
       24.77215926, 25.53878669, 14.97382872, 23.1828717 , 25.20588858,
       30.90921859, 29.1254321 , 29.20150273, 19.96690002, 32.84900485,
       28.06243796, 28.73746176, 30.16160523, 28.48168356, 23.84013506,
       21.81228669, 13.67747233, 22.02479532, 11.68643072, 24.95349867,
       14.36763441, 26.37949697, 25.27011343, 24.31283425, 26.55205813,
       29.6599728 , 16.82359359, 28.55222026, 26.78466259, 19.8785033 ,
       30.49310183, 33.64248468, 16.91150855, 23.15041126, 15.43431101,
       29.30556985, 25.8857124 , 29.53315933, 18.40814492, 16.43435942,
       32.82975169, 34.6869072 , 29.61992855, 13.26413755, 25.64684913,
       30.99172161, 34.81921128, 10.15748492, 33.02139765, 26.13528848,
        8.15861311, 20.35734743, 22.9635445 , 23.92521585, 23.02526428,
       25.9339014 , 10.32311169, 28.04764392, 29.60861903, 15.99854055,
       16.52815859, 19.91207966, 32.12772926, 21.51141848, 24.30575469,
       14.44986301, 10.29912451, 24.19253503, 31.30007476, 25.23093928,
       29.77402813, 14.68461417, 25.82977658, 27.61487884, 16.49614128,
       31.22626807, 30.75972735, 25.96495522, 30.11671731, 31.10762157,
       16.97122284, 16.8992793 , 21.93074654, 11.06674208, 27.95519152,
       11.31309855, 22.2937351 , 20.47105471, 25.27848955, 21.02455562,
       12.43662721, 15.8464607 , 30.50071885, 24.47870156,  7.94368503,
       21.793916  , 22.94151944, 25.32309572, 22.11569945, 32.21394754,
       16.19343147, 21.96917189, 24.36076047, 26.64114477, 11.70962911,
       23.68529009, 21.76109054, 23.39357927, 15.35563876, 24.29717954,
       26.68369084, 26.72135171, 26.60685402, 25.90920406, 31.6523323 ,
       19.79128239, 22.12404845, 14.04089806, 22.62729154, 29.37047128,
       23.38237347, 21.44868035, 21.58851324, 28.99275401, 27.2933272 ,
       20.55517357, 20.47441341, 20.86741437, 25.82367597, 28.12649075,
       17.37260259, 26.31766316, 17.79906824, 15.18201281, 30.610532  ,
       30.49358345, 31.37978748, 20.59845725, 23.82841602, 31.29480163,
       34.67953521, 26.34254539, 10.51988469, 24.63823624, 28.6219124 ,
       10.26317474, 33.53993391, 26.94776839, 22.46147181, 12.91747782,
       33.11642219,  8.51625907])

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [75]:
# Your code here:
y_test_pred=r2_score(y_pred,y_train)
y_test_pred

0.7648345586535624

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [77]:
# Your code here:
X_train09, X_test09, y_train09, y_test09=train_test_split(X, y, test_size=0.1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [95]:
# Your code here:
auto_model09=auto_model.fit(X_train09, y_train09)
auto_model09

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [104]:
# Your code here:
y_pred09=auto_model09.predict(X_train)
auto_pred09=r2_score(y_pred09, y_train09)
auto_pred09

-1.3941934457038156

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [106]:
# Your code here:
y_pred09=auto_model09.predict(X_test)
y_test_pred09=r2_score(y_pred09, y_test09)
y_test_pred09

-1.0828159679006317

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [ ]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.