# Supervised classification

In the data.csv there are letters (uppercases and lowercases) and numbers, 28x28 pixels in a row format.

* First, you need to know which labels are which, meaning you need to visualize some data to realize which number labels represents a letter, or a number.

In [14]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import Lasso
from sklearn.linear_model import BayesianRidge

In [5]:
# Your code here
df = pd.read_csv('data_all.zip')
df.head()

,e,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

* Now, try to train a classifier model to predict the uppercases. Use every single model you know for classification.

In [16]:
# Your code here
upp = df[(df['e'] < 36) & (df['e'] > 9)]
X = upp.iloc[:, 1:]
y = upp.iloc[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

linreg = LinearRegression().fit(X_train, y_train)
linreg.score(X_train, y_train)

ridge = Ridge().fit(X_train, y_train)
ridge.score(X_train, y_train)

0.2982016482220543

* Try to do the same thing with lowercases.

In [17]:
# Your code here
lower = df[df['e'] > 36]
X = lower.iloc[:, 1:]
y = lower.iloc[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

ridgecv = RidgeCV().fit(X_train, y_train)
ridgecv.score(X_train, y_train)

lasso = Lasso().fit(X_train, y_train)
lasso.score(X_train, y_train)

0.38332096314660646

* Try to do the same thing with numbers.

In [15]:
# Your code here
bayesianridge = BayesianRidge().fit(X_train, y_train)
bayesianridge.score(X_train, y_train)

0.3861944859800024